.header{
    height: 80px;
  
     background-color: rgb(188, 141, 232);
    color: rgb(249, 246, 250);
    display: flex;
   align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right:140px;
    position: static;
    top: 0px;
  
}