.footer{
    height: 50px;
  
     background-color: rgb(188, 141, 232);
    color: rgb(249, 246, 250);
    display: flex;
   align-items: center;
    justify-content: space-between;
    position: static;
    top: 0px;
    text-align: center;
    margin-top: 9px;
}
.footer p{
    text-align: center;
    margin-left: 47%;
}